.container {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.btn {
  padding: .75rem 2rem; }

.btn-success {
  background-color: #11BA55; }

p {
  font-size: 1.5rem; }

.logoArea {
  overflow: auto;
  display: block; }
  .logoArea img, .logoArea h2, .logoArea h1 {
    display: inline-block;
    float: left; }
  .logoArea img {
    margin-right: 1rem; }
  .logoArea h2 {
    line-height: 1.6; }

.ph-header {
  background-color: #a6a6a6;
  background: url(../img/header.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff; }
  .ph-header h1 {
    font-size: 4.5rem;
    padding-top: 4rem;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.45); }
  .ph-header p {
    max-width: 500px;
    font-size: 2rem;
    margin: 0 auto;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.45); }
  .ph-header img {
    margin: 2rem auto;
    width: 350px;
    display: block; }
  .ph-header .mainSignup {
    float: right;
    margin-top: 1.5rem; }
    .ph-header .mainSignup:after {
      clear: both; }
  .ph-header span {
    display: block;
    margin: 2rem auto;
    width: 80px;
    height: 80px;
    font-size: 8rem;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.45); }
  .ph-header .playVideo {
    cursor: pointer; }
  .ph-header .videoHolder {
    width: 100%; }

.ph-callToAction {
  background-color: #193441;
  color: #fff;
  padding: 0rem 0; }
  .ph-callToAction h3 {
    margin-top: 0.5rem; }
  .ph-callToAction .btn {
    margin-left: 1rem; }

.ph-tourStart {
  padding: 1rem 0;
  background-color: #11BA55;
  color: #fff; }
  .ph-tourStart h1 {
    font-size: 48px;
    margin: 1.5rem 0; }

.ph-currentUsers {
  color: #555459; }

footer {
  color: #555459; }
  footer h1 {
    font-size: 4rem; }
  footer h2 {
    font-size: 2.5rem; }
  footer .btn {
    margin-top: 2rem;
    width: 100%; }

.ph-features {
  background-color: #F7F5F3; }
  .ph-features .row {
    padding-top: 2rem;
    padding-bottom: 2rem; }

.ph-endLinks {
  margin-top: 2rem; }
  .ph-endLinks p, .ph-endLinks ul, .ph-endLinks li {
    display: inline;
    font-weight: bold;
    font-size: 1.5rem; }
  .ph-endLinks ul {
    padding: 0;
    margin: 0; }
  .ph-endLinks li {
    margin: 2rem 1rem; }

.modal input[type="email"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  font-size: 2.5rem;
  text-align: center; }
.modal .fa {
  width: 5rem;
  display: block;
  margin: 0 auto; }
.modal .fa-globe {
  color: #11BA55; }
.modal .fa-heart {
  color: #E74C3C; }
.modal p {
  margin-top: 1rem; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 0; }

  .ph-header h1 {
    font-size: 7.5rem; }
  .ph-header .videoHolder {
    width: 453px;
    margin: 0 auto; }

  footer h1 {
    font-size: 7.5rem; }
  footer h2 {
    font-size: 4.5rem; }

  .logoArea {
    overflow: auto;
    display: block;
    width: 500px; } }
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

/*# sourceMappingURL=homepage.css.map */
